<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sage & Salt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    
        <header>
            <div class="head">
                <a href="#" class="logo">Sage & Salt</a>
                <nav>
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('order_details') }}">Order Details</a>
                    
                    <a href="{{ url_for('review') }}">Review</a>
                    



                </nav> 
            </div>

        </header>
        <div class="sec">
            <div class="tt">
                <h1>Welcome To Sage & Salt</h1>
                <br>
                <br>
                 <p>Welcome admin....<br>
                You can check the reviews and order details by clicking the tab
                </p>

            </div>
            
        </div>





       
      
    
</body>
</html>