<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacnt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cont.css') }}">
    <script src="cont.js"></script>
</head>
<body>

    <header>
        <div class="head">
            <a class="logo">Sage & Salt</a>
            <nav>
                
              <a href="{{ url_for('index') }}">Home</a>
              <a href="{{ url_for('menu') }}">Menu</a>
              <a href="{{ url_for('cust_review') }}">Review</a>
              <a href="{{ url_for('cont') }}">Help</a>
            </nav> 
        </div>

    </header>
    <div class="sec">
      <div class="align">
        <section id="revi">
  
            <h1 class="section-header">Enter Your Reviews</h1>
            
            <div class="contact-wrapper">
            
            <!-- Left contact page --> 
              
              <form id="contact-form" class="form-horizontal" role="form" action="{{url_for('cust_review')}}" method="post">
                 
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                  </div>
                </div>
                <br>
                <br>
          
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                  </div>
                </div>
                <br>
                <br>
          
                <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                
                <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                  <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                  </div>
                
                </button>
                
              </form>

              
            <!-- Left contact page --> 
              
               
                  
            
          
                </div>
              
            </div>
            
          </section>  
      </div>   
     

    </div>

    
</body>
</html>