<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='order-ds.css') }}">
</head>
<body>
    <header>
        <div class="head">
            <a class="logo">Sage & Salt</a>
            <nav>
                
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('menu') }}">Menu</a>
                <a href="{{ url_for('cust_review') }}">Review</a>
                <a href="{{ url_for('cont') }}">Help</a>
            </nav> 
        </div>

    </header>
    <div class="sec">
        <section id="contact">
  
            
            
            <div class="contact-wrapper">
            
            <!-- Left contact page -->
            <h1 class="section-header">Enter Your Details</h1>
          
              
              <form  action="{{ url_for('login') }}"  method="post">
               
               
                <div class="nam">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" style="text-align: left; padding-left: 20px;" required>
                </div>
                <br>
                <div class="nam">
                    <input type="password" class="form-control" id="pwd" placeholder="password" name="pwd"  value="" style="text-align: left; padding-left: 20px;" required>
                </div>
                
                <br>
              
                <br>
                <button class="butt" id="submit" >login</button>
                <br>
                <br>
                <br>
                <h3 style="color: aliceblue;">{{flag}}</h3>
                <br>
               
            </form>
            
              
                  
                 

                
              
        </section>

    </div>


    
</body>
</html>