<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sage & Salt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    
        <header>
            <div class="head">
                <a href="#" class="logo">Sage & Salt</a>
                <nav>
                    <a href="{{ url_for('index') }}">Home</a>
                    
                    <a href="{{ url_for('order_details') }}">Order Details</a>
                   



                </nav> 
            </div>

        </header>
        <div class="sec">
            <div class="tt">
                <form action="{{ url_for('review') }}"  method="post">
                    <button class="buttrev" id="submit" >Show Reviews</button>
                    <table border="3" bordercolor="white" bgcolor="grey" class="revitable">
                        <tr>
                            <th>NAME</th>
                            <th>Email ID</th>
                            <th>MESSAGE</th>
                            
                        </tr>
                        {% for item in items %}
                            <tr>
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                                
                            </tr>
                        {% endfor %} 
                </form>
        
            </div>
            
        </div>


 

       
      
    
</body>
</html>